*.a
*.o
*.orig
LOCAL.config
bin/"
bin/""
bin/9660srv
bin/9import
bin/9p
bin/9pfuse
bin/9pserve
bin/9term
bin/Mail
bin/Netfiles
bin/acid
bin/acidtypes
bin/acme
bin/acmeevent
bin/aescbc
bin/ascii
bin/asn12dsa
bin/asn12rsa
bin/astro
bin/auxclog
bin/auxstats
bin/awk
bin/basename
bin/bc
bin/bmp
bin/bunzip2
bin/bzip2
bin/cal
bin/calendar
bin/cat
bin/cb
bin/cleanname
bin/clock
bin/cmapcube
bin/cmp
bin/col
bin/colors
bin/comm
bin/compress
bin/core
bin/crop
bin/date
bin/db
bin/dc
bin/dd
bin/delatex
bin/deroff
bin/devdraw
bin/dial
bin/dict
bin/diff
bin/disk/mkext
bin/disk/mkfs
bin/disknfs
bin/dns
bin/dnsdebug
bin/dnsquery
bin/dnstcp
bin/dsa2pub
bin/dsa2ssh
bin/dsagen
bin/dsasign
bin/du
bin/dump9660
bin/echo
bin/ed
bin/eqn
bin/factor
bin/factotum
bin/file
bin/fmt
bin/fontsrv
bin/fortune
bin/fossil/conf
bin/fossil/flchk
bin/fossil/flfmt
bin/fossil/fossil
bin/fossil/last
bin/fossil/view
bin/freq
bin/fs/32vfs
bin/fs/cpiofs
bin/fs/tapfs
bin/fs/tarfs
bin/fs/tpfs
bin/fs/v10fs
bin/fs/v6fs
bin/fs/zipfs
bin/fsize
bin/getflags
bin/gif
bin/grap
bin/graph
bin/grep
bin/gunzip
bin/gview
bin/gzip
bin/hget
bin/hist
bin/hoc
bin/htmlfmt
bin/htmlroff
bin/ico
bin/iconv
bin/idiff
bin/img
bin/import
bin/join
bin/jpg
bin/lex
bin/listen1
bin/look
bin/ls
bin/macargv
bin/mapd
bin/mc
bin/md5sum
bin/mk
bin/mk9660
bin/mkdir
bin/mklatinkbd
bin/mtime
bin/namespace
bin/ndbipquery
bin/ndbmkdb
bin/ndbmkhash
bin/ndbmkhosts
bin/ndbquery
bin/netfileget
bin/netfilelib.rc
bin/netfileput
bin/netfilestat
bin/netkey
bin/news
bin/p
bin/page
bin/paint
bin/passwd
bin/pbd
bin/pemdecode
bin/pemencode
bin/pic
bin/plot
bin/plumb
bin/plumber
bin/png
bin/ppm
bin/pr
bin/primes
bin/proof
bin/psdownload
bin/ramfs
bin/rc
bin/read
bin/readcons
bin/resample
bin/rm
bin/rsa2csr
bin/rsa2pub
bin/rsa2ssh
bin/rsa2x509
bin/rsafill
bin/rsagen
bin/sam
bin/samterm
bin/scat
bin/secstore
bin/secstored
bin/secuser
bin/sed
bin/seq
bin/sftpcache
bin/sha1sum
bin/sleep
bin/sort
bin/split
bin/sprog
bin/srv
bin/ssh-agent
bin/stats
bin/statusbar
bin/strings
bin/sum
bin/svgpic
bin/tail
bin/tar
bin/tbl
bin/tcolors
bin/tcs
bin/tee
bin/test
bin/time
bin/togif
bin/toico
bin/topng
bin/toppm
bin/touch
bin/tpic
bin/tr
bin/tr2post
bin/troff
bin/troff2html
bin/tweak
bin/uncompress
bin/unicode
bin/uniq
bin/units
bin/unutf
bin/unvac
bin/unzip
bin/usage
bin/vac
bin/vacfs
bin/vbackup
bin/vcat
bin/venti/buildindex
bin/venti/checkarenas
bin/venti/checkindex
bin/venti/clumpstats
bin/venti/conf
bin/venti/copy
bin/venti/dump
bin/venti/findscore
bin/venti/fixarenas
bin/venti/fmtarenas
bin/venti/fmtbloom
bin/venti/fmtindex
bin/venti/fmtisect
bin/venti/mirrorarenas
bin/venti/printarena
bin/venti/printarenapart
bin/venti/rdarena
bin/venti/read
bin/venti/ro
bin/venti/sync
bin/venti/syncindex
bin/venti/venti
bin/venti/verifyarena
bin/venti/wrarena
bin/venti/write
bin/vmount0
bin/vnfs
bin/wc
bin/win
bin/xd
bin/yacc
bin/yuv
bin/zcat
bin/zerotrunc
bin/zip
config
dict/
install.log
install.sum
last-change
lib/fortunes.index
log/
man/man?/*.html
plan9-reverse.log
plan9.log
postscript/font/
sky/*.scat
sky/here
src/**/o.*
src/cmd/awk/y.output
src/cmd/devdraw/latin1.h
src/cmd/rc/x.tab.h
state
state.journal
state.old
unix/*.tgz
y.tab.[ch]
