(^|/)CVS($|/)
(^|/)\.hg($|/)
(^|/)\.hgtags($|/)
^plan9.log$
^plan9-reverse.log$
^state$
^state.old$
^state.journal$
\.o$
\.a$
^man/man[0-9]+/.*\.html$
^src/.*/o\.[^/]+$
y.tab.[ch]$
^src/cmd/rc/x.tab.h$
^unix/.*\.tgz$
^bin/
^log/
^dict/
^postscript/font/
\.orig$
config
install.log
install.sum
last-change
lib/codereview/codereview.pyc
src/cmd/awk/y.output
src/cmd/devdraw/latin1.h
