plan9.log
plan9-reverse.log
state
state.old
state.journal
*.o
*.a
man/man?/*.html
src/**/o.*
y.tab.[ch]
src/cmd/rc/x.tab.h
unix/*.tgz
bin/**
log/
dict/
postscript/font/
sky/here
sky/*.scat
*.orig
config
install.log
install.sum
last-change
src/cmd/awk/y.output
src/cmd/devdraw/latin1.h
!bin/9
!bin/9a
!bin/9ar
!bin/9c
!bin/9l
!bin/awd
!bin/B
!bin/bundle
!bin/E
!bin/g
!bin/kill
!bin/label
!bin/lc
!bin/macedit
!bin/nobs
!bin/nroff
!bin/osxvers
!bin/ps
!bin/psfonts
!bin/psu
!bin/psv
!bin/samsave
!bin/slay
!bin/start
!bin/stop
!bin/u
!bin/web
!bin/wintext
!bin/wmail
