<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>plumb</string>
	<key>CFBundleGetInfoString</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>pjw.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.swtch.plan9port.plumb</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Plumb</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>Plumb1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundleURLName</key>
	<string>Plan9 Plumber</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Run plumber URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>plumb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>C</string>
				<string>asm</string>
				<string>b</string>
				<string>c</string>
				<string>cc</string>
				<string>cgi</string>
				<string>cgo</string>
				<string>cpp</string>
				<string>cs</string>
				<string>go</string>
				<string>goc</string>
				<string>h</string>
				<string>java</string>
				<string>l</string>
				<string>lx</string>
				<string>m</string>
				<string>ms</string>
				<string>pl</string>
				<string>py</string>
				<string>s</string>
				<string>tex</string>
				<string>txt</string>
				<string>xy</string>
				<string>y</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>spaceglenda.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.source-code</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Program Files</string>
			<key>CFBundleTypeOSTypes</key>
			<array/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>LSBackgroundOnly</key>
	<true/>
</dict>
</plist>
