#!/usr/local/plan9/bin/rc

if(! ~ $#* 2){
	echo 'usage: vmount server mtpt' >[1=2]
	exit usage
}

server=$1
mtpt=$2

switch(`{uname}){
case Linux
	exec mount -o 'ro,timeo=100,rsize=8192,retrans=5,port=12049,mountport=12049,mountvers=3,nfsvers=3,nolock,soft,intr,udp' \
		$server:/dump $mtpt
case *
	echo 'cannot mount on' `{uname} >[1=2]
	exit usage
}

