name: GitHub Actions Build
run-name: ${{ github.actor }} triggered a build
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  Build-on-Ubuntu:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Install build deps
        run: |
          sudo apt update
          sudo apt install build-essential xorg-dev
      - name: Build p9p
        run: ./INSTALL
  Build-on-macOS:
    runs-on: [macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Build p9p
        run: ./INSTALL
